/* globals */
body{
  font-family: cursive;
}
.font1{
  font-family: 'Permanent Marker', cursive;
}
.wrapper {
	margin: 0 auto;
	min-width: 930px;
	width: 1000px;
	position: relative;	
  height: 880px;
/*  border: 1px solid;*/
}
.content {
	background-color: #fbfaf9;
	overflow: hidden;
	position: relative;
	height: 760px;	
}
.page-text{
  position:absolute;
  width:325px;
  z-index: 100;
}
.page-text-head{ 
  border-bottom: 1px dashed #AAB;
padding-bottom: 15px;
font-family: 'Permanent Marker', cursive;
font-size: 70px;
text-shadow: 2px 2px 3px #333;
}
.page-text-title{
    color: #000000;
    font-family: 'Permanent Marker', cursive;
    font-size: 63px;
    line-height: 59px;
    text-align: left;
    text-transform: uppercase;
}
.page-text-subtitle{
    color: #000000;
    font-family: Times;
    font-size: 30px;
    font-style: italic;
    line-height: 30px;
}
.page-text-body{
 font-size: 19px;
  line-height: 22px;
  margin-top: 25px;
  padding-left: 15px;
}
.wrapper {
	height: 880px;		
}


.dejavu-pov {
	position: absolute;	
	background-repeat: no-repeat;
	width: 100%;
	height: 880px;
  text-indent:-99999px;
}
.logo {
	background: url('../images/logo.png') no-repeat left center;
	width: 100%;
	height: 159px;
}

#preload-images {
  display: none;
}




/* header */
#header {
position: fixed;
z-index: 900;
width: 100%;
}
.header-wrapper{
  margin: 0 auto;
width: 900px;
}
#header,
#header a {
	color: #939598;  
}

#header #logo  {
  float: left;
padding: 5px 25px;
font-size: 29px;
color: #aef;
}
#header .nav  {
width: 100%;
background: url(../images/header-bg.png) repeat 0 bottom;
height: 50px;
border-radius: 0 0 15px 15px;
}
#header .nav  ul{
float: left;
padding: 4px;
border-left: 2px dashed;
}
.nav-item {
  cursor: pointer;
  float: left;
}
#header .nav-item.active,
#header .nav-item:hover {
  border-bottom-color: #ff7;
  color:#fff;
}
#header .nav li {
  color: #999;
cursor: pointer;
padding: 7px 10px;
margin: 0;
margin-bottom: 3px;
border-color: #ccc;
height: auto;
font-family: cursive;
font-size: 17px;
min-width: 67px;
text-align: center;
text-transform: capitalize;
}

/* Page1 */
#page1 {
	background: #e9e9e9 url("../images/page1-bg.png") center center repeat-x;
}
.text1{top:100px;
      left:0;}
/*CogWheels*/
.cog-wheels {
	left: 360px;
    position: absolute;
    top: 80px;
    width: 200px;
    z-index: 400;
}

.cog-wheel1{
  background: url('../images/cog_wheel1.png') no-repeat center center;
  width: 69px;
  height: 69px; 
  left: 15px;
}
.cog-wheel2{
  background: url('../images/cog_wheel2.png') no-repeat center center;
  width: 46px;
  height: 46px; 
  position: absolute;
  top: 65px;
}
.cog-wheel3{
  background: url('../images/cog_wheel3.png') no-repeat center center;
  width: 56px;
  height: 56px; 
  position: absolute;
  top: 47px;
  left: 58px;
}

/* page2 */
#page2 {
	background: url('../images/page2-glow.png') no-repeat center center #1D1D1B;
}
.text2{
  right:0;
  top:250px;
}
.page-text:before {
    background: url("../images/splash.png") no-repeat scroll center center transparent;
    content: " ";
    display: block;
    height: 356px;
    left: -234px;
    opacity: 0.2;
    position: absolute;
    top: -150px;
    width: 344px;
    z-index: -1;
}
.text2 .page-text-title{
  color:#aaa;
}
.text2 .page-text-subtitle{
  color:#aaa;
}

/* page3 */
#page3 {
	background: url('../images/page3-bg.jpg') repeat-x 0 0 #1D1D1B;
}
#page3 .page-text-title{
	color:#3F3F3D;
}
#page3 .page-text-subtitle{
	color:#3F3F3D;
}

.text3{
  top:40px;
}
/* page4 */
#page4 {
	background: url('../images/page4-bg.jpg') repeat-x 0 0 #1D1D1B;
}
.text4{
  top:240px;
  right:0;
  color:#DDD9D4;
}
#page4 .text4 h2.page-text-title{
  color:#DDD9D4;
}
#page4 .text4 h3.page-text-subtitle{
  color:#DDD9D4;
}
.text4.page-text{
  width: 352px;
}

/*contact*/
.contact-form{
  width:531px;
  height:517px;
  background: url('../images/form-bg.png') no-repeat center center;
  position:absolute;
  z-index: 207;
}
.contact-form-fields-container{
  padding:100px 80px
}
h3.contact-header{
  font-family: cursive;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

.form-text, .form-select, .form-submit{
    padding:3px;
    float:left;
    width:312px;
}

.form-checkbox{
    float:left;
    padding:8px 0;
}

.form-checkbox input {
    float:left;
    margin:0 5px 0 0;
  
}
.form-checkbox label{
      font-family:cursive, Helvetica, Arial, sans-serif;
      font-size:15px;
}
input[type='text'], select{
  font-family:cursive, Helvetica, Arial, sans-serif;
  font-style: italic;
  width:300px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 5px;
  color: #555;
}
textarea{
  display: block;
width: 100%;
height: 105px;
resize: none;
font-family: sans-serif;
color: #777;
border-radius: 5px;
border: 1px solid #ccc;
}

#contact-form-plz > input { float: left; }
#contact-form-plz > input#plz { width: 50px;}
#contact-form-plz > input#ort {
    margin-left: 10px;
    width:227px;
}


select#title {
    width:175px;
}
input:focus{
  outline: none;
}

#contact-form-submit{float:right;}

#contact-form-submit input {
    background:url(../images/form-button.png) left top no-repeat transparent;
    width:118px;
    height:31px;
    outline:none;
    border:0;
}




/* preloader */
#preloader {
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
}
.preloader-progress {
	width: 258px;
	height: 159px;
	position: absolute;
	bottom: 85px;
	display: none;
}
.preloader-content {
	position: relative;
width: 100px;
height: 159px;
left: 40%;	
}
.preloader-info {
  font-family: cursive;
	position: absolute;
	bottom: 0;
	color: #888;
	width: 100%;
	text-align: center;
}
.preloader-content .logo {
	position: absolute;
	bottom: 20px;
  	height:159px;
	width:0;
}
.preloader-wrapper {
	position: fixed;
	width: 400px;
	height: 130px;
}


/* footer */
#footer {
    width: 100%;
    line-height: 36px;
    background: url('../images/footer-bg.png') no-repeat 70% top  #1d1d1b;
    z-index: 9999;
    font-size: 11px;
    overflow: hidden;
    border-top:1px solid #999;
    font-family:cursive;
}
#footer .wrapper {
	height: 90px;
  
}
#footer .footer-text{
  padding:30px;
}
#footer .footer-text p {
    text-align: left;
    font-size:1.4em;
    margin:0;
    padding:0;
    line-height: 1.2em;
    font-weight: normal;
    color: #71716F;
}
#footer .footer-links{
  margin-top:20px;
  float:left;
}
#footer ul{
  list-style: none;
}
#footer ul li{
  float:left;
  font-size: 1.4em;
  margin-left:10px;
  padding-left:10px;
  border-left:1px dashed;
  line-height: 1.2em;
}
#footer ul li.first{
  margin-left:0;
  padding-left:0;
  border-left:none;
}
#footer .footer-logo{
  position:absolute;
  right:0;
  top:25px;
}
.footer-impressum,
.footer-fb,
.footer-copyright {
	position: absolute;	
}
.footer-copyright {
  left: 0;
}